<link rel="stylesheet" href="/css/addition.css">
<div class="form-control">
    <label for="Taskname">Topshiriq nomi</label>
    <input type="text" name="taskname">
</div>
<div class="form-control">
    <label for="Subjectname">Fan nomi</label>
    <input type="text" name="subjectname">
</div>
<div class="form-control">
    <label for="Situation">Topshiriq holati</label>
    <select id="fruits" name="fruit">
        <option value="Tugallangan">Tugallangan</option>
        <option value="Tugallanmagan">Tugallanmagan</option>
        <option value="Boshlanmagan">Boshlanmagan</option>
      </select>
</div>