<link rel="stylesheet" href="/css/navbar.css">
<header class="header">
    <nav class="header-nav">
        <ul class="header-item-list">
<li class="header-item"><a href="/">Main Page</a></li>
<li class="header-item"><a href="/task/new">Add Tasks</a></li>
        </ul>
    </nav>
</header>