/* Header asosiy konteyneri */
.header {
    background-color: #007BFF;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Nav tagidagi menyu */
.header-nav {
    display: flex;
    justify-content: center;
}

/* Ul ro'yxati uchun */
.header-item-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/* Ro'yxat elementlari uchun */
.header-item {
    margin-right: 20px;
}

/* Linklar uslubi */
.header-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}

/* Linklar hover effekti */
.header-item a:hover {
    color: #d1e8ff;
}

/* So'nggi elementga o'ng chekka bo'sh joy bermaslik uchun */
.header-item:last-child {
    margin-right: 0;
}


